@import "~bootstrap/scss/bootstrap";

// Mobile first
.container {
    text-align: center;
    margin: 30px;
    .logo {
      font-size: 1.8em;
      background-color: #28A745;
      width: 90%;
      margin: 0 auto;
      color: white;
    }
    .errorMessage {
      color: red;
      font-weight: 500;
      margin-top: 10px;
      font-style: italic;
    }
    .custom_input {
        width: 350px;
        margin: 0 auto;
    }
}
  .form-control:focus {
    border: 1px solid #28A745 !important;
    box-shadow: 0 0 0 0.05rem #28A745 !important;
  }
  .articles_container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1350px;
    margin: 0 auto;
    .container_card {
      width: 90%;
      margin: 20px auto;
      .card_date {
        font-style: italic;
        border-top: 1px solid rgb(182, 157, 157);
      }
    }
  }
  // Tablet
  @media screen and (min-width: 678px) {
    .container {
      .logo {
        font-size: 2em;
      }
      .errorMessage {
        font-size: 1.1em;
      }
      .custom_input {
          width: 450px;
      }
  }
    .articles_container {
      display: flex;
      flex-wrap: wrap;
      .container_card {
        width: 45%;
        margin: 20px auto;
        .card_image {
          height: 210px;
        }
        .card_title {
          height: 80px;
        }
        .card_description {
          height: 120px;
          padding-top: 10px;
        }
        .card_date {
          height: 20px;
        }
      }
    }
  }
  // Desktop
  @media screen and (min-width: 1280px) {
    .container {
      .logo {
        font-size: 2em;
        width: 70%;
      }
      .errorMessage {
        font-size: 1.1em;
      }
      .custom_input {
          width: 500px;
      }
  }
    .articles_container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .container_card {
        width: 26%;
        margin: 5px;
        .card_image {
          height: 230px;
        }
        .card_description {
          height: 90px;
          padding-top: 10px;
        }
      }
    }
  }

